@model List<ArticleDto>

<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Makale Yonetimi /</span> Makaleler</h4>

        <!-- Basic Bootstrap Table -->
        <div class="card">
            <h5 class="card-header">Table Basic</h5>
            <div class="table-responsive text-nowrap">
                <table class="table table-border" id="articlesTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Baslik</th>
                            <th>Kategori</th>
                            <th>Olusturulma Tarihi</th>
                            <th>Olusturan</th>
                            <th>Durum</th>
                            <th>Islemler</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                       @foreach (var article in Model)
                        {
                            <tr name="@article.Id">
                                <td>@article.Title</td>
                                <td>@article.Category.Name</td>
                                <td>@article.CreatedDate.ToShortDateString()</td>
                                <td>@article.CreatedBy</td>
                                <td>@(article.IsDeleted ? "Aktif Degil" : "Aktif")</td>
                                <td></td>

                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Project</th>
                            <th>Client</th>
                            <th>Users</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!--/ Basic Bootstrap Table -->

        
    </div>
    <!-- / Content -->
    <!-- Footer -->
   
    <!-- / Footer -->

    <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->

@section Scripts{
    <script src="~/js/articleIndex.js" type="application/ecmascript"></script>
}